# Byte-compiled / optimized / DLL files

# python related
__pycache__/
*.py[cod]
*.$py.class

# R related
*.Rhistory
*.RData

# temporary files
*~

# common files
*.pdf
*.docx
*.txt

# other
.DS_Store
*.log

# sub-directories
week_1/.ipynb_checkpoints/*.*
week_1/*.csv
week_1/PhillyCrime.ipynb
week_1/*.pdf

week_2/prog_assignment_1/.ipynb_checkpoints/*.*
week_2/prog_assignment_2/.ipynb_checkpoints/*.*
week_2/prog_assignment_1/*.csv
week_2/prog_assignment_2/*.csv
week_2/numpy-tutorial.ipynb
week_2/*.pdf
