# Byte-compiled / optimized / DLL files

# python related
__pycache__/
*.py[cod]
*.$py.class

# R related
*.Rhistory
*.RData

# temporary files
*~

# common files
*.pdf
*.docx
*.txt

# other
.DS_Store
*.log


# directories
week-1/*.gl/*.*
week-1/.ipynb_checkpoints/*.*

week-2/amazon_baby_subset.gl
week-2/important_words.json
week-2/.ipynb_checkpoints/*.*

week-3/*.gl/*.*
week-3/.ipynb_checkpoints/*.*

week-4/.ipynb_checkpoints/*.*

week-5/.ipynb_checkpoints/*.*

week-6/.ipynb_checkpoints/*.*
